appdirs==1.4.4
capstone==4.0.2
cffi==1.17.1
cmsis-pack-manager==0.6.0
colorama==0.4.6
hidapi==0.14.0.post4
importlib_metadata==8.7.0
importlib_resources==6.5.2
intelhex==2.3.0
intervaltree==3.1.0
lark==1.2.2
libusb-package>=1.0.26.0
natsort==8.4.0
prettytable==3.16.0
psutil==7.0.0
pycparser==2.22
pyelftools==0.32
pylink-square==1.6.0
pyocd==0.37.0
pyserial==3.5
pyusb==1.3.1
PyYAML==6.0.2
six==1.17.0
sortedcontainers==2.4.0
typing_extensions==4.14.0
wcwidth==0.2.13
websockets==15.0.1
zipp==3.23.0
